@model duandian_test.Models.danwei

@{
    ViewBag.Title = "Create";
}

<div style="padding-bottom:5px;padding-left:20px;">
    当前位置：|&gt;基本设置 &gt; 单位设置 &gt; 新增单位
    <br />
</div>

<div class="form-horizontal" style="padding:0px 20px;">
    @using (Html.BeginForm("create", "danwei", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <h3>新增单位</h3>
            </div>
            <div class="col-md-5"></div>
        </div>

        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5"></div>
        </div>

        <div class="form-group">
            <div class="col-md-1"></div>
            @Html.LabelFor(model => model.shiyongdanwei, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.shiyongdanwei, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.shiyongdanwei, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class=" col-md-4">
                <button type="submit" class="btn btn-primary">创 建</button>
                <span>&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Index", "danwei")'">返 回</button>
            </div>
            <div class="col-md-5"></div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
